**

!Dockerfile
!.dockerignore
!pyproject.toml
!uv.lock

!src/
!src/**

!frontend/
!frontend/package.json
!frontend/pnpm-lock.yaml
!frontend/index.html
!frontend/tsconfig.app.json
!frontend/tsconfig.json
!frontend/tsconfig.node.json
!frontend/vite.config.ts
!frontend/public/
!frontend/public/**
!frontend/src/
!frontend/src/**

!sqlite/
!sqlite/data-agent-2026-7-15.sqlite
